import { Button, Container, CssBaseline } from '@material-ui/core'
import React, {memo} from 'react'
import SimpleForm from '../../../form/SimpleForm'
import {{camelCase name}}Validate from './{{camelCase name}}Validate'
import { upsert{{pascalCase name}} } from './{{camelCase name}}Actions'
import { useActions } from '../../../hooks/useActions'
import {{pascalCase name}}FieldGroup from './{{pascalCase name}}FieldGroup'

const {{pascalCase name}}Form = () => {
  const handleSubmit = useActions(upsert{{pascalCase name}})
  return (
    <Container>
      <CssBaseline />
      <SimpleForm onSubmit={handleSubmit} validate={ {{camelCase name}}Validate}>
        <{{pascalCase name}}FieldGroup />
        <Button type='submit' variant='contained' color='inherit'>
          Submit
        </Button>
      </SimpleForm>
    </Container>
  )
}

export default memo({{pascalCase name}}Form)
